.card {
  position: relative;
  width: 350px;
  height: 270px;
  aspect-ratio:  16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card__image {
  width: 100%;
  height: 205px; /* Or set a specific height if needed */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2; /* Optional for visual balance */
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' if you want the whole image visible without cropping */
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color:  #f5f1e7;
  transform: rotateX(-180deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-align: left
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 25px;
  font-size: 13px;
  color: #777;
  line-height: 1.4;
}

.card__button{

  padding: 10px 15px;
  background-color:hsl(274, 76%, 87%);
  border: none;
  border-radius: 80px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  flex-wrap: wrap;
  font-style: italic;
  text-decoration: none; 
  color: black;

}
.card__button:hover{
  background-color: #2cecc2 ;
  flex-wrap: wrap;
}


.secondary {
  background: transparent;
  color: #000000;
  border: 1px solid #777;
}
